* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
  font-family:  Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.wrapper {
  background: #23424A;
  color: #ffffff;
  width: 80%;
  margin: 0 auto;
}

.intro {
  width: 50%;
  max-width: 640px;
}