* { box-sizing: border-box; }

body { 
    margin: 0;
    font-family: sans-serif;
} 

.container {
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
}

.intro {
    background: #23424A;
    color: white;
}


.intro-content {
    padding: 50px 0; 
    width: 50%;
}

