*, *::before, *::after {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-family:  Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 2.1rem;
}

.wrapper {
  width: 85%;
  max-width: 1060px;
  margin: 0 auto;
  padding: 1.5em 0;
}

.hero {
  background: rgb(35,66,74);
  background: linear-gradient(135deg, rgba(35,66,74,1) 75%, rgba(19,108,114,1) 100%);
  color: #FFF;
}

.hero-content {
  width: 70%;
  max-width: 640px;
  padding: 2em 0;
}

.hero-content h1 {
  font-size: 4.8rem;
  font-weight: 900;
}

.hero-content p {
  margin-bottom: 3em;
}

.button {
  color: #23424A;
  background-color: #38cfd9;
  max-width: 250px;
  width: 50%;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: .75em 1.5em;
  border-radius: 100px;
}

.button:hover, 
.button:focus {
  opacity: .75;
}

.row {
  display: flex;
}

.col {
  width: 100%;
  text-align: center;
}

.col + .col {
  margin-left: 1.2em;
}

.mid h2 {
  color: #87629A;
  font-size: 3.6rem;
  font-weight: bold;
}

.bottom {
  background: #136C72;
  color: #FFF;
}